<!-- <section class="header">
  <div class="container">
    <div class="row centering-vh">
      <div class="text-white animate__animated animate__fadeInDown">
        Welcome to About Page
      </div>
    </div>
  </div>
</section> -->
<app-featured [showValue]="name"></app-featured>
<app-categories></app-categories>
<app-latest></app-latest>
<app-publications></app-publications>
<app-customers></app-customers>
<app-downloads></app-downloads>
<!-- <app-citiesads></app-citiesads> -->
<!-- <div>
    <input [(ngModel)]='name' type="text" >

</div> -->
